@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; 
  background-color: black;
}

li {
  float:left;
}
body{
  /* background-color: black; */
  background: linear-gradient(black,#003cb3);
}

li a {
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    display: block;
    color:  #A4A8D1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #99e6ff;
}

/* makes it so it doesn't crash into the title */
/* basic formating */
h1 {
  /* background-color: black; */
    margin-top: 60px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color:#AFFC41;
    font-size: 40px;
}

h2 {
  /* background-color: black; */
    text-align: center;
    color:#ff0000;
    font-family: "Lucida Console", monospace;
}

p {
    font-family: monospace;
    font-size: 15px;
    color: white;
    padding-left: 80px;
    padding-right: 80px;
}

@media screen and (max-width: 600px){
    nav {
        width: 100%;
    }

    li {
        text-decoration: none;
        display: block;
        padding: 0px;;
        width: 100%;
        text-align: center;
    }

    a {
    
        height: 5px;
    }

    h1 {
        margin-top: 140px;
    }

    p {
        padding-left: 10px;
        padding-right: 10px;
    }

}
